:root {
  --Search-album-title-gray: #3D495C;
  --Search-blue-color: #00D5E2;
  --Search-darker-blue-color: #003BE5;
  --Search-darker-gray: #444955;
  --Search-grey-white : #EFF3F9;
  --Search-lighter-gray: #C0C3C9;
}

.Search-body-container {
  display: flex;
}

.Search-main-container {
  background-color: var(--Search-grey-white);
  margin-left: 20vw;
  width: 80vw;
}

.Search-form-container {
  align-items: center;
  background-image: url('../images/login-background.png'), linear-gradient(135deg,#003BE5 20%, #006de3 30%, #00D5E2 80%);
  background-size: 80vw 100vh;
  display: flex;
  gap: 15px;
  height: 33vh;
  justify-content: center;
  width: 100%;
}

.Search-input {
  background-color: rgba(255, 255, 255, .5);
  border: 0;
  border-radius: 23px;
  height: 2.5rem;
  padding-left: 15px;
  width: 40%;
}

.Search-input:focus {
  outline: none;
}

.Search-input::-webkit-input-placeholder {
  color: white;
  font-weight: 700;
  opacity: 1;
}

.Search-button {
  background-color: var(--Search-blue-color);
  border: 0;
  border-radius: 23px;
  color: white;
  font-weight: 700;
  height: 2.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

.Search-loading-container {
  align-items: center;
  background-color: var(--Search-grey-white);
  display: flex;
  height: 67vh;
  justify-content: center;
  width: 100%;
}

.Search-no-results {
  color: var(--Search-lighter-gray);
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  font-size: 1.875rem;
}

.Search-results-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 67vh;
  width: 100%;
}

.Search-title-results {
  color: var(--Search-darker-blue-color);
  display: flex;
  font-size: 1.25rem;
  font-style: italic;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;
}

.Search-albuns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  justify-content: flex-start;
  margin-bottom: 40px;
  width: 90%;
}

.Search-album-card {
  min-height: 250px;
  width: 200px;
}

.Search-album-img {
  border-radius: 10px;
  width: 100%;
}

.Search-album-link {
  color: var(--Search-album-title-gray);
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 5px;
  text-decoration: none;
}

.Search-artist-name {
  font-size: 0.563rem;
  font-weight: 300;
  margin-top: 5px;
}