:root {
  --Search-blue-color: #00D5E2;
  --Search-darker-gray: #444955;
  --Search-lighter-gray: #C0C3C9;
  --Search-purple-color: #003BE5;
}

.Search-body-container {
  display: flex;
}

.Search-main-container {
  border: red solid 1px;
  width: 80vw;
}

.Search-form-container {
  border: blue solid 1px;
  align-items: center;
  background-image: url('../images/login-background.png'), linear-gradient(135deg,#003BE5 20%, #006de3 30%, #00D5E2 80%);
  display: flex;
  gap: 15px;
  height: 33vh;
  justify-content: center;
  width: 100%;
}

.Search-input {
  background-color: rgba(255, 255, 255, .5);
  border: 0;
  border-radius: 23px;
  height: 2.5rem;
  padding-left: 15px;
  width: 40%;
}

.Search-input::-webkit-input-placeholder {
  color: white;
  font-weight: 700;
  opacity: 1;
}

.Search-button {
  background-color: var(--Search-blue-color);
  border: 0;
  border-radius: 23px;
  color: white;
  font-weight: 700;
  height: 2.5rem;
  padding-left: 20px;
  padding-right: 20px;
}