.MusicCard-tracks-container {
  border: solid red 1px;
  align-items: center;
  display: flex;
  height: 62px;
  justify-content: space-between;
  width: 40%;
}

.MusicCard-favorite-input {
  height: 20px;
  width: 20px;
}